.product {
    
    &_container {
        padding: 24px 0 40px 50px;    
    }
    
    &_text {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #787993;
        margin-bottom: 20px;
    }
    
    &_heading {
        font-weight: 500;
        font-size: 34px;
        line-height: 41px;
        color: #414D6A;
        width: 1135px;
        margin-bottom: 20px;
    }
    
    &_wrapper {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    
    &-r_text {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -5.89155e-05px;
        color: #414D6A;
        margin-bottom: 17px;
    }
    
    &_price {
        font-weight: 500;
        font-size: 40px;
        line-height: 49px;
        letter-spacing: -0.00016833px;
        color: #444444;
        margin-bottom: 8px;
    }
    
    &_link {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -5.89154e-05px;
        text-decoration-line: underline;
        color: #4E72CA;
        font-weight: 700;
    }
    
    &_btn {
        background: #65E99F;
        border-radius: 18.5px;
        display: block;
        border: none;
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -6.73319e-05px;
        color: #000000;
        padding: 9px 0px 8px 23px;
        margin-top: 15px;
        
        &:nth-child(2) {
            margin-bottom: 20px;
            margin-top: 0;
        }
        
        &::after {
            content: 'Покозать польностю';
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: #000000;
            padding: 9px 26px 10px 19px;
            background: #41D481;
            border-radius: 18.5px;
            margin-left: 20px;
        }
    }
    
    &-update_text {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -3.17237e-05px;
        color: #000000;
    }
    
    &_r-btn {
        background: #304FFF;
        border-radius: 23.5px;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -5.89155e-05px;
        font-weight: 600;
        color: #FFFFFF;
        border: none;
        padding: 15px 27px;
        margin-right: 15px;
        margin-bottom: 20px;
        
        &:nth-child(2) {
            margin-right: 0;
        }
    }
    
    &_table, &_table_main, &_t-dep {
        border: 1px solid rgba(151, 151, 151, 0.191604);
    }
    
    &_table_main {
        display: flex;
    }
    
    &_t-dep {
        padding: 19px 26px 21px 22px;
    }
    
    &_table {
        border-collapse: collapse;
        width: 580px;
    }

    &_table_main {
        width: 550px;
    }
    
    &_t-text {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.00016833px;
        color: #444444;
    }
    
    &_t-link {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.00016833px;
        text-decoration-line: underline;
        color: #4E72CA;
    }
}